<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.FileStoreMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.entity.FileStore">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="fileName" jdbcType="VARCHAR" property="fileName" />
    </resultMap>

    <insert id="addFileServiceImpl">
        insert into fileStore(id,userId,fileName,path,createTime,updateTime) values(#{id},#{userId},#{fileName},#{path},#{createTime},#{updateTime})
    </insert>

    <select id="getFileListServiceImpl" resultType="map">
        select fs.id,fs.userId,fs.fileName,fs.path,DATE_FORMAT(fs.createTime,'%Y-%m-%d %H:%i:%s') as createTime,u.userName from fileStore fs left join user u on fs.userId = u.userId where fs.userId = #{userId}
    </select>

    <select id="getFileByIdServiceImpl" resultType="map">
        select * from fileStore where id = #{id}
    </select>
</mapper>