<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.entity.User">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="realName" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <insert id="loginInMapper">
        insert into user(id,userId,userName,passWord,email,phone,createTime,updateTime) values(#{id},#{userId},#{userName},#{passWord},#{email},#{phone},#{createTime},#{updateTime})
    </insert>
    
    <select id="getUserByUserIdMapper" resultType="com.example.springboot.entity.User">
        select * from user where userId = #{userId}
    </select>
</mapper>